<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/sidebar') %>

        <div class="rightSide">
            <h1>Here you can see all the users</h1>
            <form action="/addUser" method="POST" class="formAddRemembr">
                <input type="text" name="nameUser" id="nameUser" placeholder="User name">
                <input type="text" name="idUser" id="idUser" placeholder="User ID">
                <input type="text" name="ipUser" id="ipUser" placeholder="User IP">
                <input type="text" name="phoneUser" id="nameUser" placeholder="User phone number">

                <button type="submit">Save</button>
            </form>

            <div id="users">
                <!-- <%# console.log(users) %> -->
                <% if (users.length) { %>

                    <% users.forEach(user=> { %>
                        <div style="display: flex;flex-direction: row;">
                            <div>
                                <%- user.Name %>
                            </div>
                            <div>
                                <%- user.ID %>
                            </div>
                            <div>
                                <%- user.IP %>
                            </div>
                            <div>
                                <%- user.Phone %>
                            </div>

                            <form action="/remove" method="POST">
                                <input type="hidden" name="_id" value="<%- user._id %>">
                                <button>Delete</button>
                            </form>
                        </div>
                        <% }) %>


                            <% } else { %>
                                <div>No users</div>
                                <% } %>
            </div>
        </div>



        <script src="index.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="AOS.js"></script>
</body>

</html>